{% extends "layout.html" %}

{% block content %}

<div class="map col-lg-8" id="map">
Hello there
</div>

<div class="col-lg-4 sidebar">
<div id="selections">
	<div class="selectorGroup">
		Hotels:
		<br />  
		<select>
		{% for hotel in templateHotels %}
		<option>{{hotel.name}}</option>
		{%endfor%}
		</select>
		<br />
	</div>

	<div class="selectorGroup">
		Restaurants:
		<br />  
		<select>
		{% for restaurant in templateRestaurants%}
		<option>{{restaurant.name}}</option>
		{%endfor%}
		</select>
	</div>

	<div class="selectorGroup">
		Things to Do
		<br />  
		<select>
		{% for activity in templateActivities%}
		<option>{{activity.name}}</option>
		{%endfor%}
		</select>
	</div>

	<button type="button" id="saveButton">Save</button>

	<!-- <div class="dropdown open">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Dropdown
	  </button>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
	  	{% for hotel in templateHotels%}
	    <a class="dropdown-item" href="#">{{hotel.name}}</a>
	    {%endfor%}
	  </div>
	</div> -->
</div>

	<div id="dayLabel">
		<h4>Day X</h2>
	</div>

	<div class="dayGroup">
		<div class="daySelector">
			<span id="spacer"> </span>
			<button type="button" class="dayButton dayButton-active" id="dayOne">1</button>
			<button type="button" class="dayButton" id="dayTwo">2</button>
			<button type="button" class="dayButton" id="dayThree">3</button>
			<button type="button" class="dayButton" id="dayFour">4</button>
		</div>

		<div id="info">

			<div class="infoGroup">
				<b>My Hotel</b>
				<br />
				5 Star Palace
				<br />
			</div>

			<div class="infoGroup">
				<b>My Restaurants</b>
				<br />
				The Pub
				<br />
			</div>

			<div class="infoGroup">
				<b>My Activities</b>
				<br />
				Coding
				<br />
			</div>

		</div>
	</div>

 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-p1UsgXUeDxiGblDhbtvE5tFP5G9jT2A&sensor=true"></script>
<script src="/scripts/map.js"></script>
<script type="/scripts/script.js"></script>
{% endblock %}